<div
  class="header w-100 p-2 bg-light d-flex align-items-center justify-content-between"
  style="font-size: 0.8rem"
>
  <div class="header-left-content ms-1 d-flex align-items-center w-25">
    <i class="fa-solid fa-arrow-rotate-right"></i>

    <div class="input-group mx-2" style="width: 98%">
      <span
        class="input-group-text m-0"
        id="basic-addon1"
        style="font-size: 0.8rem"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>
      <input
        type="search"
        class="form-control bg-light"
        placeholder="Search in Customers ( / )"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>

  <div
    class="header-right-content d-flex align-items-center justify-content-end w-50"
  >
    <p class="m-0 me-2">You are currently in Free ...</p>
    <div class="text-primary d-flex align-items-center me-2" role="button">
      Upgrade
      <img class="rounded-2 ms-4" src="../../../assets/icons/plus-square.svg" />
    </div>
    <div
      class="notification-icons-block d-flex align-items-center gap-3 px-3"
      style="
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
      "
    >
      <img width="14" height="14" src="../../../assets/icons/bell.svg" />
      <img width="14" height="14" src="../../../assets/icons/gear.svg" />
      <img
        width="14"
        height="14"
        src="../../../assets/icons/question-square.svg"
      />
    </div>
    <div class="logger-user d-flex align-items-center mx-3">
      Angular Minds Pvt Ltd
      <img
        class="ms-4"
        width="16"
        height="16"
        src="../../../assets/icons/person-circle.svg"
      />
    </div>
    <img src="../../../assets/icons/grid.svg" role="button" />
  </div>
</div>
